* {
  font-family: "Space Mono";
  text-align: center;
}

body {
  background-color: #F6DDCC;
}

header {
  background-color: hsl(240, 50%, 50%);
  position: relative;
  width: 100%;
}

footer {
  background-color: #466995;
  border-bottom: 15px solid #466995;
  width: 100%;
  margin: 20px;
}

h1 {
  color: hsl(150, 25%, 25%);
  letter-spacing: 0.7em;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  word-spacing: 0.001em;
  line-height: 50px;
}

hr {
  height: 50px;
}

bold {
  text-transform: uppercase;
  font-weight: 800;
}

div {
  color: blue;
  font-size: 20px;
  margin-left: 40px;
  padding: 10px;
  align-self: center;
}

ul {
  margin: auto;
  padding: 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
}

.locations header {
  background-color: coral;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 30px;
  text-align: center;
}

.locations {
  display: grid;
  grid-template-columns: 50% 50%;
}

h3:hover {
  text-transform: uppercase;
}

#london {
  grid-area: 2 / 1 / 4 / 3;
}

#mom {
  grid-area: 6 / 1 / 8 / 3;
}
